<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<h1>Cadastro de Produtos</h1>

<form action="#" th:action="@{/produtos}" th:object="${produto}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" required>

    <label for="preco">preco:</label>
    <input type="double" id="preco" th:field="*{preco}" required>

     <label for="peso">peso:</label>
     <input type="float" id="peso" th:field="*{peso}" required>

     <label for="quantidade">quantidade:</label>
     <input type="quantidade" id="quantidade" th:field="*{quantidade}" required>

     <label for="categoria">categoria:</label>
     <input type="text" id="categoria" th:field="*{categoria}" required>
    <label for="descricao">descricao:</label>
         <input type="text" id="descricao" th:field="*{descricao}" required>

    <button type="submit">Cadastra-se</button>
</form>

<h2>Lista de Produtos</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preco</th>
        <th>Peso</th>
        <th>Quantidade</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}"></td>
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.preco}"></td>
        <td th:text="${produto.peso}"></td>
        <td th:text="${produto.quantidade}"></td>
        <td th:text="${produto.categoria}"></td>
        <td th:text="${produto.descricao}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>