<!-- Desenvolved by Samuel M. Dias🕷-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserCadaster</title>
    <link rel="stylesheet" type="text/css" href="/styleUser.css">
</head>
<body>
<div class="container">
    <h1>Cadastro de Usuário</h1>
    <h2>Digite suas informações: </h2>

        <form th:action="@{/Cadastrar}" th:object="${usuarios}" method="post"> <!-- "Cadastrar" = PostMapping, "usuarios" = model.addAttribute("usuarios", new ModelUser()); @GetMapping-->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" placeholder="Digite seu nome" required>

            <label for="idade">Idade:</label>
            <input type="number" id="idade" th:field="*{idade}" placeholder="Digite sua idade" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" th:field="*{cpf}" placeholder="Digite seu CPF" required>

            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" th:field="*{telefone}" placeholder="Digite seu telefone" required>

            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="Digite seu email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" th:field="*{senha}" placeholder="Digite sua senha" required>

            <button type="submit">Cadastrar</button>
        </form>

</div>

</body>
</html>